# Node
node_modules/
.next/
.env.local
.env
.vscode/

# Rust
**/target/
**/*.rs.bk


# Misc
.DS_Store
dist/
coverage/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
Thumbs.db
